.link {
	color: $dark-grey;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
.user {
	color: $white;
	transition: opacity 0.2s ease-in-out;
	&:hover {
		opacity: 0.7;
	}
}