.nothing__main-content {
	align-items: center;
	background: #5b627b;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;

	p {
		text-align: center;
		font-size: 3rem;
	}
}