// Colors
$primary: #45615c;
$dark-grey: #263238;
$light-grey: #d8d8d8;
$gradient: linear-gradient(120deg, #705b4b 0%, #37474f 80%);

// Google Button
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
